<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	  <h2>The List of Shoes</h2>
  <ul class="shoesNav">
  </ul>

  <h2>The List of Celebrities</h2>
  <ul class="people">
  </ul>

  <h2>Grader</h2>
  <ul class="grader-results">
  </ul>

  <h2>Student Scores</h2>
  <ul class="student-score-results">

  </ul>

  <script id="shoe-template" type="text/x-handlebars-template">
    {{#each allShoes}}
    <li class="shoes">
      <span class="shoe-name"> {{ name }} - </span> price: {{ price }} {{> description}}
    </li>
    {{/each}}
  </script>

<h1>Message Board</h1>
<div class = "content" >
</div>
	<form>
		<script id="Handlebars-Template" type="text/x-handlebars-template">
			<h3  class = "cities">Welcome back {{city}}</h3>
		</script>
		<label>Message:</label>
		<input type="text" name="">
		<button>Send Message</button>
	</form>

   <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>

 <script type="text/javascript" src="../handleBar.js"></script>
</body>
</html>
 -->
	

<!doctype html>
  <head>

  </head>
  <body>
  	<h1>Welcome to the Message Board!</h1>
    <script id="Username" type="text/x-handlebars-template">
    Enter your Message {{name}}
</script>
   
    <h2 class="Heading">
   </h2>
 <input type="text" name="">
 <button>Submit</button>



    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
    <script src="../handleBar.js"></script>
  </body>
</html>